/* Styles for all tags */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Remove decoration from anchor tags to better match the mock-up */
a {
    text-decoration: none;
}

/* Below are some various styles that pad, align, float, etc. various tags to better fit the mock-up */
header {
    padding: 20px 35px;
}

h1 {
    font-size: 64px;
    padding-top: 50px;
    margin-bottom: 5px;
}

/* Styling for MOST buttons. Included the same purple color from the mock-up */
button {
    background-color: #4B3570;
    text-decoration: none;
    color: white;
    font-size: 32px;
    text-align: center;
    border: #4B3570;
    border-radius: 12px;
    padding: 12px 24px;
    margin: 12px;
}

/* Override styling on the "View high scores" button */
#highScoresBtn {
    color: #4B3570;
    background-color: white;
    border: none;
    font-size: 24px;
    float: left;
}

/* Adding some more styling for the new HTML */
h2 {
    font-size: 48px;
}

h3 {
    font-size: 42px;
    font-style: italic;
    font-weight: lighter;
    color: #999999;
    text-align: left;
}

hr {
    color: #CACACA;
    width: 99%;
}

main {
    width: 1100px;
    margin: auto;
}

p, label, input {
    font-size: 32px;
}

.quizPage {
    position: relative;
    text-align: left;
}

#timerDisplay {
    float: right;
    font-size: 24px;
}

#intro {
    text-align: center;
}

#highscoreList {
    background-color: #D9D3E9;
    font-size: 28px;
}